@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #18181b;
  color: #fafafa;
  font-size: 1rem;
  --ff-primary: 'Lato', sans-serif;
  --ff-secondary: 'Prata', serif;
  
}

body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.7;
}

/* general */

ul, li {
  font: inherit;
}

a {
  font-weight: 500;
  font: inherit;
  text-decoration: none;
}

/* typography */

h1, h2, h3 {
  font-family: var(--ff-secondary);
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1.2;
}

h1 {
  @apply text-5xl
}

h2 {
  @apply text-4xl
}

h3 {
  @apply text-3xl
}

h4 {
  @apply text-xl
}

p {
  font-family: var(--ff-primary);
  color: #e4e4e7;
  margin-top: 0;
}

/* layout */

section {
  gap: 2rem;
  column-rule-style: solid;
  column-rule-color: rgb(55, 55, 55);
}

/* links */

.underline-emerald {
  position: relative;
}

.underline-emerald:before {
  position: absolute;
  height: 0.25rem;
  width: 2.25rem;
  bottom: 0.4rem; 
  content: "";
  background: #10b981;
}

/* about page */

.about h3 {
  @apply mt-8
}

.about h4 {
  @apply mb-4
}

.about ul {
  list-style-type: disc;
  padding-left: 1.8rem;
}

.about li::marker {
  color: #10b981;
}

.about a {
  color: #10b981;
  font-weight: bold;
}

blockquote {
  margin: 2rem;
  padding-left: 1rem;
  border-left: 3px solid #10b981;
  font-style: italic;
}

/* media query */


@media (min-width: 768px) {

  body {
    text-align: left;
  }

  section > * {
    margin-top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #18181b;
  }
}